

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #02000a;
  }
  
  h1 {
    background-color: #02000a;
    
    
}

header {
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
   
}

#movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


p {
  font-family: Arial, Helvetica, sans-serif;
}


.movie-card {
  margin: 20px;
  width: 300px;
  background-color: #444444;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.movie-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.movie-card h2 {
  margin-top: 0;
}

.movie-card p {
  font-size: 16px;
  color: #0ef240;
}

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 30px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: rgb(250, 247, 247);
  }
  
  .flip-card-back {
    background-color: #f5021b;
    color: white;
    transform: rotateY(180deg);
  }

